<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
  >
    <v-text-field
      v-model="nombre"
      :counter="10"
      :rules="nameRules"
      label="Name"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>

    <v-select
      v-model="select"
      :items="items"
      :rules="[v => !!v || 'Item is required']"
      label="Item"
      required
    ></v-select>
 

    <v-btn
      color="success"
      class="mr-4"
      @click="enviarFormulario"
    >
      Send
    </v-btn>

 
  </v-form>
</template>


<script>
  import axios from 'axios'
  export default {
    data: () => ({
      valid: true,
      nombre: '',
      nameRules: [
        v => !!v || 'El nombre es obligatorio',
        v => (v && v.length <= 20) || 'El nombre acepta maximo 20 caracteres',
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      select: null,
      items: [
        'Masculino',
        'Femenino',
      ],
      checkbox: false,
    }),
    methods: {
      validate () {
        if (this.$refs.form.validate()) {
          this.snackbar = true
        }
      },
      enviarFormulario () {
        const self = this;
        axios.post('/user', {
          nombre: self.nombre,
          email : self.email,
          sexo : self.select
        })
        .then(function (data) {
          console.log(data);
        })
        .catch(function (data) {
          alert(data);
        });
      },
    },
  }

</script>